.buttonContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.button {
  width: 45px;
  height: 45px;
  margin: 4px;
  font-size: 18px;
  border: 1px solid #e17055;
  border-radius: 8px;
  background-color: #e17055;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #d25a49;
  color: #fff;
}
