.calculateWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #f7f1e3; 
}
.calculator {
  border: 2px solid rgb(194, 10, 10);
  width: 230px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(211, 210, 210);
}
.heading {
  text-align: center;
  color: rebeccapurple;
  margin-bottom: 10px;
}
